<footer class="footer">
  <div class="footer-icons">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <p>© Wanderlust Private Limited</p>

  <div class="footer-links">
    <a href="#">Privacy</a>
    <span>|</span>
    <a href="#">Terms</a>
  </div>
</footer>

<!-- Font Awesome for icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
